<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewpot" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>+ Alterar Alunos</title>
<meta name="author" content="Daniel"/>
<link rel="stylesheet" href="/css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
 	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>


		<div class="container" style="margin-top: 50px;">
		
		<h4> + Alterar dados do Alunos </h4>
		<hr>
		<br>
			
			<form method="post" action="/alterar" th:object="${aluno}" autocomplete="off">
			<input type="hidden" th:field="*{id}">
			
			<!-- inseri nome do aluno  -->
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<label>Nome do Aluno:</label>
				<input class="form-control" placeholder="Ex: Saulo Silva de Freitas" th:field= "*{nome}">
			    </div>
			</div>
			
			<!-- inseri o curso -->
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<label>Selecione o Curso:</label>
				<select class="from-control" th:field= "*{curso}">
					<option th:each="curso : ${T(br.com.academy.enums.Curso).values()}"
					 th:value="${curso}" th:text="${curso}"></option>
				</select>
			    </div>
			</div>
			
			<!-- Matricula -->
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<label>Gerar Matricula:</label>
					<input readonly="readonly" class="form-control" id="" th:field= "*{matricula}">
					<button type="button" onclick="GerarMatricula();" class="btn-outline-dark" style="margin-top: 10px;">Gerar</button>
			    </div>
			</div>
			
			<!-- status -->
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<label>Selecione o Status:</label>
				<select class="from-control" th:field= "*{status}">
					<option th:each="status : ${T(br.com.academy.enums.Status).values()}"
					 th:value="${status}" th:text="${status}"></option>
				</select>
			    </div>
			</div>
			
			<!-- turno -->
			
			<div class="row">
				<div class="col-md-6 form-group offset-md-3">
				<label>Turno:</label>
				<input class="form-control" placeholder="Ex: noite" th:field= "*{turno}">
			    </div>
			</div>
			
			<div class="row">
				<button type="submit" class="btn-outline-success offset-md-5">Salvar</button>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="btn-outline-primary">Voltar</button>
			</div>
			
			
			</form>
		</div>
		<hr>



	<div th:replace="fragmentos/fragmentos :: rodape"></div>
	<script src="js/main.js"></script>
	<script src="/webjars/jquery-3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>